html{
    font-size: 100%;
}
main{
    background-color: #f0f0f0;    
}
a{
    text-decoration: none;
    color: black;
}
body {
    font-family: sans-serif;
}
ul{
    padding-left: 0;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
span{
    display: block
}
.header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0; 
}
.logo img{
    width: 100px;
    line-height: 1px;
    margin-right: 60px;
}
.header-left{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    width: 100%;
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    margin-right: 30px;
}
.header-right{
    width: 200px;
    height: 80px;
    line-height: 80px;
    background-color: #000;
    font-size: 0.7rem;
    display: inline-block;
    text-align: center;
}
.contact{
    color: white;
}
.title-en{
    display: block;
    font-weight: normal;
    font-size: 2.1rem;
    letter-spacing: 0.3em;
}
.title-ja{
    display: block;
    font-weight: lighter;
    font-size: 0.75rem;
    margin-bottom: 20px;
}
.common{
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}
#mainvisual{
    margin-bottom: 100px;
}
#mainvisual img{
    width: 100%;
    height: calc(100vh - 80px);
    object-fit: cover;
}
h2::after{
    content: "";
    width: 40px;
    height: 1px;
    background-color: #000;
    display: block;
    margin-bottom: 60px;
}
#news{
    margin-bottom: 120px;
    width: 100%;
    max-width: 1000px;
    padding: 0 16px;
}
#news ul{
    display: flex;
    justify-content: space-between;
}
#news ul li{
    width: calc(100%/3);
    border-right: 1px solid black;
    margin-right: 10px;
}
#news ul li:last-of-type{
    border-right: none;
}
#news ul time,
#news ul div{
    display: inline-block;
    margin-bottom: 10px;
}
#news ul time{
    font-size: 0.9rem;
    margin-right: 15px;
}
#news ul div{
    font-size: 0.65rem;
    background-color: #000;
    color: #f0f0f0;
}
#news ul p{
    font-size: 0.9rem;
}
#about{
    display: flex;
}
.about-image{
    width: 55%;
}
#about img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.about-text{
    width: 45%;
    padding: 200px 80px;
    line-height: 45px;
}
.contents{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}
.left-content{
    width: 45%;
    margin-top: 100px;
}
.right-content{
    width: 45%;
}
.content{
    margin: 25px 0;
}
.content p{
    position: relative;
    font-weight: bold;
    font-size: 0.9rem;
    padding-left: 20px;
    margin: 7px 0;
}
.content p::before{
    content: "";
    width: 8px;
    height: 1px;
    background-color: #000;
    position: absolute;
    left: 1px;
    bottom: 16px;
}
#company{
    margin-top: 70px;
    height: 1000px;
    max-width: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.company-info{
    height: 800px;
    position: absolute;
    width: 60%;
    background-color: white;
    padding: 100px 7%;
}
.company-info dl{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.company-info dt{
    width: 20%;
    margin-top: 10px;
    font-size: 0.9rem;
}
.company-info dd{
    width: 80%;
    padding: 0 2%;
    font-size: 0.9rem;
    margin-top: 10px;
}
.ex{
    margin-left: 90px;
}
.company-img{
    position: absolute;
    width: 50%;
    left: 520px;
}
.company-img img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
footer{
    background-color: white;
    height: 280px;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 50px;
    width: 100%;
    max-width: 1000px;
}
.info .logo{
    padding-left: 10px;
}
.address p{
    font-size: 0.87rem;
}
.copyright{
    font-size: 0.6rem;
    margin: 0 auto;
    padding-top: 40px;
    max-width: 1000px;
}
@media screen and (max-width: 900px){
    .header{
        max-width: 900px;
    }
    .logo img{
        width: 80px;
        object-fit: cover;
        vertical-align: text-top;
        padding-top: 35px;
    }
    .header-left{
        flex-direction: column;
        align-items: flex-start;
        font-size: 0.9rem;
        padding-bottom: 20px;
    }
    .header-right{
        display: none;
    }
    #mainvisual{
        margin-bottom: 80px;
    }
    h2::after{
        margin-bottom: 20px;
    }
    .title-ja{
        margin-bottom: 24px;
    }
    .common{
        padding: 0 20px;
    }
    #news{
        margin-bottom: 80px;
    }
    #news ul{
        flex-direction: column;
    }
    #news ul li{
        width: 100%;
        padding: 10px 0;
        margin-bottom: 20px;
        border-right: none;
    }
    #about{
        flex-direction: column;
        margin-bottom: 80px;
    }
    .about-image{
        width: 100%;
    }
    .about-text{
        width: 100%;
        padding: 0 20px;
    }
    .about-text p{
        line-height: 45px;
    }
    #business{
        margin-bottom: 80px;
    }
    .contents{
        flex-direction: column;
        padding: 0;
    }
    .left-content{
        width: 100%;
    }
    .right-content{
        width: 100%;
    }
  
    #company{
        height: auto;
        flex-direction: column;
        position: static;
        width: 100%;
    }
    .company-info{
        height: auto;
        width: 100%;
        padding: 40px 20px;
        margin-bottom: 20px;
        position: static;
    }
    .company-img{
        width: 100%;
        padding: 0;
        position: static;
        margin-bottom: 0;
    }
    #company dl{
        flex-direction: column;
    }
    #company dl dt{
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }
    #company dl dd{
        width: 100%;
        margin-top: 5px;
        padding-left: 14px;
    }
    .ex{
        margin-left: 0;
    }
    .info{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
    }
    .info .logo{
        margin-bottom: 10px;
        padding-left: 0;
    }
    .copyright{
        margin-left: 20px;
    }
}